@import "tailwindcss";

@theme {
    --font-display: ;

    --color-mainBlue: oklch(0.4500 0.2176 272.38);
    --color-hoverBlue: oklch(0.45 0.2059 273.04 / 0.30);
    --color-hoverBlueFull: oklch(0.45 0.2059 273.04);
    --color-darkBlue: oklch(0.2177 0.0845 259.03);
    --color-charcoal: oklch(0.20 0.02 270);
    --color-bgBlue: oklch(0.18 0.05 250);
    --color-darkGray: oklch(37.3% 0.034 259.733);
    --color-errorRed: oklch(0.6355 0.2502 29.13);
    --color-successGreen: oklch(62.7% 0.194 149.214);
}

/* in your global.css or a module */
.rdp {
    --rdp-accent-color: #2563eb;
    /* blue highlight */
    --rdp-background-color: #1e293b;
    /* dark background */
    font-family: 'Inter', sans-serif;
    color: black;
}